.star_container{
    display: flex;
    flex-direction: column;
}
.star{
    display: inline-block;
}
.star>span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
}
.star0{
    background-image: url('http://www.bgwm.fun/picture/images/star01.png');
}
.star1{
    background-image: url('http://www.bgwm.fun/picture/images/star02.png');
}
.star2{
    background-image: url('http://www.bgwm.fun/picture/images/star03.png');
}
.star_container .num{
    width: 100% !important;
    color: #777;
    margin-top: 5px;
}
